@import url(components/btn.css);
@import url(components/baffle.css);
@import url(components/general.css);

body {
  background-color: #EBEBEB;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: rgba(150, 150, 150, 0.8);
  text-align: center;
  display: grid;
  grid-template-columns: auto 0px;
}

h1 {
 font-family: 'Open Sans', sans-serif;
 font-size: 22px;
 letter-spacing: 1px;
 color: #DD5555;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
  margin-bottom: 0;
}

h3 strong {
  color: rgba(120, 120, 120, 1) !important;
}

a {
  text-decoration: none;
  color: rgba(120, 120, 120, 0.8);
}

a:hover {
  color: #DD5555;
}

li {
  color: rgba(150, 150, 150, 0.6);
  line-height: 30px;
  text-align: center;
}

p {
  line-height: 25px;
  font-size: 14px;
  text-align: justify;
  margin-top: 0px;
}

p strong {
  color: rgba(100, 100, 100, 1) !important;
}

td {
  padding: 10px 5px;
}

.container {
  width: 500px;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .container{
    width: 90%;
    margin: 0 auto;
  }
}

.card {
  padding: 20px;
  margin: 20px 0;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(150, 150, 150, 0.15);
  border: 1px solid rgba(10, 10, 10, 0.15);
}

.media {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.img-circle {
  border-radius: 50%;
  border: 2px solid #EBEBEB;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 40px;
  margin-bottom: 0;
}

.list-inline {
  padding-left: 0px;
}

.social-medium {
  font-size: 25px
}

.profile-header {
  display: flex;
  align-items: center;
}

.profile-header-info {
  flex: 1 1 auto;
  text-align: left;
  padding-left: 15px;
}

.profile-header-info h1 {
  margin: 1px 0;
}

.profile-header-info h2 {
  margin: 0;
}

.profile-header-info p{
  line-height: 16px;
  margin-top: 5px;
}

.center-cover{
  background-position: center;
  background-size: cover;
  width: 110px;
}

.whatsapp{
color: #77E778;
font-size: 18px;
}

.phone{
color: #DD5555;
font-size: 18px;
}

.email{
color: black;
font-size: 18px;
}
